
// check palette.png

// primary-green
$colore1: rgb(8, 203, 123);
// secondary-green
$colore2: rgb(148, 203, 83);
// black
$colore3: rgb(0, 0, 0);
// off-white
$colore4: rgb(235, 235, 235);
// blue jeans
$colore5: rgb(48, 64, 95);
// orange
$colore6: rgb(255, 153, 51);
// white
$colore7: rgb(255, 255, 255);

