
// check palette.png

// primary-green
$colore1: rgb(8, 203, 123);
// secondary-green
$colore2: rgb(148, 203, 83);
// black
$colore3: rgb(0, 0, 0);
// off-white
$colore4: rgb(200, 200, 200);
// blue jeans
$colore5: rgb(33, 39, 51);
// orange
$colore6: rgb(255, 153, 51);
// white
$colore7: rgb(255, 255, 255);


$card-colore1: rgb(40, 52, 74);
$card-colore2: rgb(48, 65, 95);